

main{
    width:100%;
}

.Top-Bar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    min-height: 110px;
    flex-wrap: wrap;
}

.search-icon{
    width: 30px;
    height: 30px;
}


.SearchBar-Container-Outside{
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height:60px;
}


.SearchBar-Container-Inside{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width:70%;
    height:45px;
    border:2px solid #333333;
    flex-wrap: wrap;
}

.SearchBar-Container-Inside i{
    width:40px;
    margin-left: 10px;
}

.SearchBar-Container-Inside input{
    flex:1;
    margin-right: 12px;
    border:0;
    outline: none;
}

.SearchBar-Container-Outside button{
    cursor: pointer;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-style: normal;
    margin-left: 20px;
    width:130px;
    height: 50px;
    background-color: #DEB959;
    color:#FFFFFF;
    border: none;
    padding-bottom: 6px;
}

.CheckBox-Container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    width:100%;
    height:50px;
}

.CheckBox-Conteudo{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    width:78%;
}

.CheckBox-Conteudo > .Input{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height: 100%;
}

.CheckBox-Conteudo > .Input > input{
    height: 18px;
    width: 18px;
}

.CheckBox-Conteudo .Texto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    margin-left: 25px;
    height: 100%;
}





/* CODIGO DOS CONTAINER LOBINHO */

.Lobo-Lista{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.Lobo-Box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:450px;
}

.Lobo-Foto-Container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:620px;
}

.Lobo-Info-Container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    height:86%;
    width:480px;
    padding-top: 60px;
}

.Lobo-Name-Button-Container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:50px;
}

.Lobo-Name{
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.Adotar-Button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width:140px;
    margin-left: auto;
}

.Adotar-Button button{
    cursor: pointer;
    height: 42px;
    flex: 1;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #DEB959;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    border: none;
    padding-bottom: 6px;
}


.Lobo-Idade{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.9px;
}

.Lobo-Texto-Container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
}


.Lobo-Texto{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100%;
    font-family: 'Darker Grotesque', sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.3px;
}



.Lobo-DuplaFoto-Container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height:90%;
    width:90%;
}


.Foto-Behind{
    height:90%;
    width:93%;
    /* BORDER NECESSARIO */
    border:3px solid #333333;
    background-color: #2C5680;
    margin-right: auto;
    margin-bottom: auto;
}

.Lobo-Foto{
    position: absolute;
    height:370px;
    width:520px;
    /*
    background-image: url("./Lobo-Exemplo.png");
    */
}

.Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Name-Button-Container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Idade{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Texto{
    text-align: right;
}

.Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Foto-Container{
    justify-content: flex-end;
}


.Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-DuplaFoto-Container{
    align-items: flex-start;
    justify-content: flex-end;
}

.Lobo-Lista > .Lobo-Box:nth-child(even) .Foto-Behind{
    margin-left: auto;
    margin-right: 0;
    margin-top:0;
}

.Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Foto{
    height:350px;
    width:500px;
}


.Pagination-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100px;
}

.Pagination-Box{
    display:flex;
    flex-direction: row;
    height:70px;
    width:50%;
    align-items: center;
    justify-content: center;
}

.Pagination-Box button{
    border:0;
    color:black;
    background-color: white;
}

.Pagination-Box button:hover{
    cursor: pointer;
    background-color: #DEB959;
}


.Pagination-Box a{
    padding:3px;
}

.Hidden-ID{
    display:none;
    visibility: hidden;
    opacity: 0;
}

.Adopted-By{
    display:none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size:20px;
    font-style: normal;
    color: #000000;
}



@media(max-width:513px){
    .Top-Bar{
        min-height: 145px;
    }
    .CheckBox-Container{
        margin-top: 50px;
    }
}

@media(max-width:1103px){
    .Foto-Behind{
        width: 63%;
        margin-right: inherit;
    }
    
    .Lobo-Lista > .Lobo-Box:nth-child(even) .Foto-Behind {
        margin-left: initial;
    }
    .Lobo-Lista{
        min-height: 3800px;
    }
    footer{
        position: absolute;
        top: 4202px;
    }
    #wrap{
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 1000px;
    }
    #reverse{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .Lobo-Foto{
        width: 300px;
    }
    .Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Foto {
        overflow: auto;
        width: 300px;
    }
    
}
@media(max-width:620px){
    .Foto-Behind{
        width: 80%;
        margin-right: inherit;
    }
    .Lobo-Foto {
        width: 65%;
    }
    .Lobo-Lista > .Lobo-Box:nth-child(even) .Lobo-Foto {
        width: 65%;
    }
}
