
/**main quem somos**/
.main_quemsomos{
    margin-bottom: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**Título**/
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Darker Grotesque';
    font-size: 25px;
    margin: 3vh;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Darker Grotesque';
    width: 55vw;
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

@media (max-width: 600px){
    .text {
      width: 90vw;
    }
}